/* #||__[filters]__|| */


/* #\_THIS_\ */

#FILTERS { padding-block: 2.1rem; }

#FILTERS .filter { white-space: nowrap; }

#FILTERS .controler { min-width: 19.5rem; }

#FILTERS .controler i, #FILTERS .wrapper, #FILTERS .wrapper::before { transition: .28s ease-out; }

#FILTERS .controler i, #FILTERS .wrapper::before { transition-property: transform; }

#FILTERS .controler i { width: 1.3rem; }

#FILTERS .controler[aria-pressed="true"] i { transform: scaleY(-1); }

#FILTERS .controler[aria-pressed="true"] + .wrapper
{
    clip-path: polygon(0 2.1rem, 100% 2.1rem, 100% var(--filter_clip_y, 100%), 0 var(--filter_clip_y, 100%));
}

#FILTERS .controler[aria-pressed="false"] + .wrapper::before
{
    transform: translateY(-100%);
}

#FILTERS .wrapper
{
    height: 31.5rem;

    clip-path: polygon(0 2.1rem, 100% 2.1rem, 100% 2.1rem, 0 2.1rem);

    transition-property: clip-path;
}

#FILTERS .wrapper::before
{
    content: '';

    position: absolute;
    top     : 0;
    left    : 0;
    z-index : -1;

    transform: translateY(var(--background_translate_y));

    width : 100%;
    height: 100%;

    background-color: var(--lgh);

    border-radius: 1.1rem;
}

#FILTERS .container { padding-top: 5.3rem; }

#FILTERS :is(.searchbar, .option) { padding-inline: 1.6rem; }

#FILTERS .searchbar { padding-bottom: 1.5rem; }

#FILTERS .searchbar form
{
    gap: .2rem;

    height: 3.6rem;

    border: solid 1px var(--itm3);
}

#FILTERS .searchbar :is(input[type="search"], .deleter) { padding-left: .8rem; }

#FILTERS .searchbar :is(.deleter, .sender) { padding-right: .8rem; }

#FILTERS .searchbar input[type="search"] { min-width: 0; }

#FILTERS .deleter>i { width: .6rem; }

#FILTERS .sender>i { width: 1.35rem; }

#FILTERS .options :is(.whitespace, .option) { flex-shrink: 0; }

#FILTERS .whitespace { order: 1; }

#FILTERS .filter :has(.option.active) .whitespace { height: 1.7rem; } /* .filter est important pour encapsuler le selecteur autour d'un filtre en particulier */

#FILTERS .option
{
    height: 3.7rem;

    text-align: left;
}

#FILTERS .option:hover, #FILTERS .option.active { background-color: var(--prm); }

#FILTERS .option.active, #FILTERS .option.active .cross { transition: .16s ease-in; }

#FILTERS .option:not(.active) { order: 2; }

#FILTERS .option.active
{
    order: 0;

    transition-property: font-weight;
}

#FILTERS .option.active:hover { font-weight: 700; }

#FILTERS .option span { text-overflow: ellipsis; }

#FILTERS .option.active .cross
{
    width: 1.7rem;

    transition-property: opacity;
}

#FILTERS .option.active:not(:hover) .cross { opacity: 0; }