/* #||__[header]__|| */


/* #\_IMPORTS_\ */

    /* __MODULES */
    @import url('./header/logo.css     ');
    @import url('./header/searchbar.css');

/* #\_THIS_\ */

#HEADER
{
    /* aspect-ratio: 1440 / 667; */

    height: 66.7rem;

    padding: 5.1rem 6.9rem;

    background         : linear-gradient(rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url('/static/images/background/header.webp');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

#HEADER h1
{
    margin-bottom: 3rem;

    font-size     : 44px;
    letter-spacing: .3rem;
    line-height   : 1.5;
}